Piper_sp2	/public/lihaosen/PhyloAln/plastome/SRR14578859.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578859.R.fastq.gz
Piper_borbonense1	/public/lihaosen/PhyloAln/plastome/SRR14578858.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578858.R.fastq.gz
Piper_borbonense2	/public/lihaosen/PhyloAln/plastome/SRR14578850.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578850.R.fastq.gz
Piper_caninum1	/public/lihaosen/PhyloAln/plastome/SRR14578849.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578849.R.fastq.gz
Piper_caninum2	/public/lihaosen/PhyloAln/plastome/SRR14578848.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578848.R.fastq.gz
Piper_hederaceum	/public/lihaosen/PhyloAln/plastome/SRR14578847.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578847.R.fastq.gz
Piper_insectifugum	/public/lihaosen/PhyloAln/plastome/SRR14578846.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578846.R.fastq.gz
Piper_mestonii	/public/lihaosen/PhyloAln/plastome/SRR14578845.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578845.R.fastq.gz
Piper_sarmentosum	/public/lihaosen/PhyloAln/plastome/SRR14578844.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578844.R.fastq.gz
Piper_sp3	/public/lihaosen/PhyloAln/plastome/SRR14578843.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578843.R.fastq.gz
Piper_amalago	/public/lihaosen/PhyloAln/plastome/SRR14578857.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578857.R.fastq.gz
Piper_commutatum	/public/lihaosen/PhyloAln/plastome/SRR14578856.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578856.R.fastq.gz
Piper_darienense	/public/lihaosen/PhyloAln/plastome/SRR14578855.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578855.R.fastq.gz
Piper_umbellatum	/public/lihaosen/PhyloAln/plastome/SRR14578854.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578854.R.fastq.gz
Piper_capense1	/public/lihaosen/PhyloAln/plastome/SRR14578853.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578853.R.fastq.gz
Piper_capense2	/public/lihaosen/PhyloAln/plastome/SRR14578852.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578852.R.fastq.gz
Piper_guahamense	/public/lihaosen/PhyloAln/plastome/SRR14578851.L.fastq.gz,/public/lihaosen/PhyloAln/plastome/SRR14578851.R.fastq.gz
