01HJ	/public/lihaosen/tran_species/PhyloAln/01/01HJ.L.fastq,/public/lihaosen/tran_species/PhyloAln/01/01HJ.R.fastq
01KS	/public/lihaosen/tran_species/PhyloAln/01/01KS.L.fastq,/public/lihaosen/tran_species/PhyloAln/01/01KS.R.fastq
01LB	/public/lihaosen/tran_species/PhyloAln/01/01LB.L.fastq,/public/lihaosen/tran_species/PhyloAln/01/01LB.R.fastq
01MF	/public/lihaosen/tran_species/PhyloAln/01/01MF.L.fastq,/public/lihaosen/tran_species/PhyloAln/01/01MF.R.fastq
01XH	/public/lihaosen/tran_species/PhyloAln/01/01XH.L.fastq,/public/lihaosen/tran_species/PhyloAln/01/01XH.R.fastq
01XM	/public/lihaosen/tran_species/PhyloAln/01/01XM.L.fastq,/public/lihaosen/tran_species/PhyloAln/01/01XM.R.fastq
