02DTJ	/public/lihaosen/tran_species/PhyloAln/02/02DTJ.L.fastq,/public/lihaosen/tran_species/PhyloAln/02/02DTJ.R.fastq
02HS	/public/lihaosen/tran_species/PhyloAln/02/02HS.L.fastq,/public/lihaosen/tran_species/PhyloAln/02/02HS.R.fastq
02HW	/public/lihaosen/tran_species/PhyloAln/02/02HW.L.fastq,/public/lihaosen/tran_species/PhyloAln/02/02HW.R.fastq
02HY	/public/lihaosen/tran_species/PhyloAln/02/02HY.L.fastq,/public/lihaosen/tran_species/PhyloAln/02/02HY.R.fastq
02LB	/public/lihaosen/tran_species/PhyloAln/02/02LB.L.fastq,/public/lihaosen/tran_species/PhyloAln/02/02LB.R.fastq
02SB	/public/lihaosen/tran_species/PhyloAln/02/02SB.L.fastq,/public/lihaosen/tran_species/PhyloAln/02/02SB.R.fastq
