04FT	/public/lihaosen/tran_species/PhyloAln/04/04FT.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04FT.R.fastq
04GJ	/public/lihaosen/tran_species/PhyloAln/04/04GJ.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04GJ.R.fastq
04HB	/public/lihaosen/tran_species/PhyloAln/04/04HB.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04HB.R.fastq
04HN	/public/lihaosen/tran_species/PhyloAln/04/04HN.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04HN.R.fastq
04LB	/public/lihaosen/tran_species/PhyloAln/04/04LB.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04LB.R.fastq
04RB	/public/lihaosen/tran_species/PhyloAln/04/04RB.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04RB.R.fastq
04SB	/public/lihaosen/tran_species/PhyloAln/04/04SB.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04SB.R.fastq
04SS	/public/lihaosen/tran_species/PhyloAln/04/04SS.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04SS.R.fastq
04XY	/public/lihaosen/tran_species/PhyloAln/04/04XY.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04XY.R.fastq
04YS	/public/lihaosen/tran_species/PhyloAln/04/04YS.L.fastq,/public/lihaosen/tran_species/PhyloAln/04/04YS.R.fastq
