00HB	/public/lihaosen/tran_species/PhyloAln/00/outgroup_clean/00HB.fasta
01HJ	/public/lihaosen/tran_species/PhyloAln/01/outgroup_clean/01HJ.fasta
01KS	/public/lihaosen/tran_species/PhyloAln/01/outgroup_clean/01KS.fasta
01LB	/public/lihaosen/tran_species/PhyloAln/01/outgroup_clean/01LB.fasta
01MF	/public/lihaosen/tran_species/PhyloAln/01/outgroup_clean/01MF.fasta
01XH	/public/lihaosen/tran_species/PhyloAln/01/outgroup_clean/01XH.fasta
01XM	/public/lihaosen/tran_species/PhyloAln/01/outgroup_clean/01XM.fasta
02DTJ	/public/lihaosen/tran_species/PhyloAln/02/outgroup_clean/02DTJ.fasta
02HS	/public/lihaosen/tran_species/PhyloAln/02/outgroup_clean/02HS.fasta
02HW	/public/lihaosen/tran_species/PhyloAln/02/outgroup_clean/02HW.fasta
02HY	/public/lihaosen/tran_species/PhyloAln/02/outgroup_clean/02HY.fasta
02LB	/public/lihaosen/tran_species/PhyloAln/02/outgroup_clean/02LB.fasta
02SB	/public/lihaosen/tran_species/PhyloAln/02/outgroup_clean/02SB.fasta
03DJ	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03DJ.fasta
03ES	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03ES.fasta
03JP	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03JP.fasta
03SB	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03SB.fasta
03SE	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03SE.fasta
03WY	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03WY.fasta
03YS	/public/lihaosen/tran_species/PhyloAln/03/outgroup_clean/03YS.fasta
04FT	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04FT.fasta
04GJ	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04GJ.fasta
04HB	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04HB.fasta
04HN	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04HN.fasta
04LB	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04LB.fasta
04RB	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04RB.fasta
04SB	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04SB.fasta
04SS	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04SS.fasta
04XY	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04XY.fasta
04YS	/public/lihaosen/tran_species/PhyloAln/04/outgroup_clean/04YS.fasta
