DMELA	/public/lihaosen/PhyloAln/dataset/DMELAcontam_1.fa,/public/lihaosen/PhyloAln/dataset/DMELAcontam_2.fa
DSIMU	/public/lihaosen/PhyloAln/dataset/DSIMUcontam_1.fa,/public/lihaosen/PhyloAln/dataset/DSIMUcontam_2.fa
DWILL	/public/lihaosen/PhyloAln/dataset/DWILLcontam_1.fa,/public/lihaosen/PhyloAln/dataset/DWILLcontam_2.fa
