Testudo_horsfieldii	/public/lihaosen/PhyloAln/UCE/SRR13244438.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244438.R.fastq.gz
Apalone_ferox	/public/lihaosen/PhyloAln/UCE/SRR13244416.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244416.R.fastq.gz
Carettochelys_insculpta	/public/lihaosen/PhyloAln/UCE/SRR13244417.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244417.R.fastq.gz
Chelydra_sp	/public/lihaosen/PhyloAln/UCE/SRR13244418.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244418.R.fastq.gz
Cyclemys_dentata	/public/lihaosen/PhyloAln/UCE/SRR13244419.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244419.R.fastq.gz
Deirochelys_reticularia	/public/lihaosen/PhyloAln/UCE/SRR13244420.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244420.R.fastq.gz
Dermochelys_coriacea	/public/lihaosen/PhyloAln/UCE/SRR13244421.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244421.R.fastq.gz
Clemmys_marmorata	/public/lihaosen/PhyloAln/UCE/SRR13244441.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244441.R.fastq.gz
Erymnochelys_madagascariensis	/public/lihaosen/PhyloAln/UCE/SRR13244422.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244422.R.fastq.gz
Geoemyda_spengleri	/public/lihaosen/PhyloAln/UCE/SRR13244423.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244423.R.fastq.gz
Gopherus_berlandieri	/public/lihaosen/PhyloAln/UCE/SRR13244424.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244424.R.fastq.gz
Graptemys_pseudogeographica	/public/lihaosen/PhyloAln/UCE/SRR13244425.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244425.R.fastq.gz
Kinosternon_flavescens	/public/lihaosen/PhyloAln/UCE/SRR13244440.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244440.R.fastq.gz
Lepidochelys_olivacea	/public/lihaosen/PhyloAln/UCE/SRR13244426.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244426.R.fastq.gz
Lissemys_punctata	/public/lihaosen/PhyloAln/UCE/SRR13244427.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244427.R.fastq.gz
Phrynops_sp	/public/lihaosen/PhyloAln/UCE/SRR13244428.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244428.R.fastq.gz
Nilssonia_formosa	/public/lihaosen/PhyloAln/UCE/SRR13244429.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244429.R.fastq.gz
Pelomedusa_subrufa1	/public/lihaosen/PhyloAln/UCE/SRR13244430.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244430.R.fastq.gz
Pelusios_castaneus	/public/lihaosen/PhyloAln/UCE/SRR13244431.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244431.R.fastq.gz
Platemys_platycephala	/public/lihaosen/PhyloAln/UCE/SRR13244432.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244432.R.fastq.gz
Platysternon_megacephalum	/public/lihaosen/PhyloAln/UCE/SRR13244433.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244433.R.fastq.gz
Podocnemis_erythracephala	/public/lihaosen/PhyloAln/UCE/SRR13244439.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244439.R.fastq.gz
Rhinoclemmys_punctularia	/public/lihaosen/PhyloAln/UCE/SRR13244434.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244434.R.fastq.gz
Staurotypus_triporcatus	/public/lihaosen/PhyloAln/UCE/SRR13244435.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244435.R.fastq.gz
Sternotherus_minor	/public/lihaosen/PhyloAln/UCE/SRR13244436.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244436.R.fastq.gz
Geochelone_pardalis	/public/lihaosen/PhyloAln/UCE/SRR13244437.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244437.R.fastq.gz
Terrapene_ornata	/public/lihaosen/PhyloAln/UCE/SRR13244415.L.fastq.gz,/public/lihaosen/PhyloAln/UCE/SRR13244415.R.fastq.gz
